.box-itemcart {
  padding: 10px;
  margin-bottom: 20px;
  justify-content: start !important;
  border-radius: 10px;
}

.box-noneitem {
  height: 65vh;
}
.btnselectcart {
  overflow: hidden;
  width: 100px;
  min-width: max-content;
  margin: 0px 10px 10px 0px;
  border-radius: 5px;
}

.head-none {
  padding: 10px;
}

.box-none {
  width: 100%;
  height: 450px;
  border-radius: 15px;
}

.bor-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon-announcement {
  font-size: 25px;
}

.icon-announcement:hover {
  scale: 1.2;
}

.bor-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.none-item {
  padding: 100px;
  border-radius: 10px;
}

.m-h92vh {
  min-height: 92vh;
}

.prl20px {
  padding: 0px 20px;
}

.icon-cart {
  font-size: 40px;
}

.input-cart {
  width: 80px;
  height: 30px;
  border: 0px;
  border-radius: 5px;
}

.boxfocus {
  max-width: max-content;
  min-width: 70px;
  padding: 5px;
  padding: 5px 15px;
  border-radius: 100px;
  font-size: 20px;
}

.icont-delete {
  cursor: pointer;
  font-size: 30px;
}

.box-detailcart {
  padding-left: 10px;
  height: 230px;
  min-height: max-content;
}

.img-itemcart {
  border-radius: 10px;
  height: 230px;
  width: 230px;
}

.box-totalitem {
  padding: 8px;
  border-radius: 10px;
}

.box-totalcart {
  padding: 8px;
  padding-right: 0px;
  border-radius: 10px;
}

.boxframe-w {
  position: sticky;
  top: 8vh;
  padding: 20px 0px 20px 0px;
}

.icon-hideeye {
  background: var(--bg);
  padding: 12px;
  font-size: 60px !important;
  border-radius: 100px;
  border: 2px solid var(--bg-btn);
  color: var(--bg-btn) !important;
}
.icon-hideeye:hover {
  color: var(--txt) !important;
  background: var(--bg-three) !important;
  border: 2px solid var(--txt);
}

.eye-hide {
  position: fixed;
  bottom: 2.5vw;
  right: 2.5vw;
}

.pt20px {
  padding-top: 20px;
}

.box-foritemcart {
  padding-bottom: 1px !important;
}

.box-allitem {
  min-width: 50px;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
}

.ml50px {
  margin-left: 50px;
}

.flex-forcol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-forcol-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-forcol-smaller {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-forcol-boxcart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forbg-w {
  background: var(--txt) !important;
}

.flex-head {
  flex-direction: row;
}

@media (max-width: 1400px) {
  .boxfocus {
    max-width: max-content;
    min-width: 40px;
    padding: 3px 15px;
    border-radius: 100px;
    font-size: 14px;
  }
  .flex-forcol-boxcart {
    flex-direction: column;
  }
  .box-allitem {
    width: 100%;
  }
  .ml50px {
    margin: 10px 0px 0px 0px;
  }
}
@media (max-width: 1070px) {
  .eye-hide {
    right: 15px;
    bottom: 15px;
  }
  .box-none {
    height: 300px;
  }
}
@media (max-width: 900px) {
  .flex-forcol {
    flex-direction: column;
  }
  .box-detailcart {
    height: 380px;
  }

  .flex-ex {
    flex-direction: row !important;
  }
  .flex-detailamount {
    margin-top: 5px;
    flex-direction: column;
    align-items: start !important;
  }

  .input-cart {
    width: 100%;
    margin: 0px 0px 10px 0px;
  }
  .for-w {
    width: 100%;
  }

  .img-itemcart {
    height: 380px;
    width: 300px;
  }
  .flex-forcol-small {
    flex-direction: column;
  }
  .flex-forcol {
    width: 90%;
    flex-direction: row;
    justify-content: space-between !important;
  }
  .eye-hide {
    right: 10px;
    bottom: 10px;
  }
}

@media (max-width: 810px) {
  .box-detailcart {
    height: 380px;
  }
  .eye-hide {
    right: 5px;
    bottom: 5px;
  }
  .img-itemcart {
    height: 380px;
    width: 320px;
  }
  .btnselectcart {
    width: 45%;
  }
}
@media (max-width: 750px) {
  .box-detailcart {
    height: 380px;
  }

  .icon-hideeye {
    font-size: 50px !important;
  }

  .eye-hide {
    right: 10px;
    bottom: 10px;
  }
  .img-itemcart {
    height: 380px;
    width: 280px;
  }
  .flex-forcol {
    width: 90%;
    flex-direction: row;
    justify-content: space-between !important;
  }
}
@media (max-width: 700px) {
  .box-detailcart {
    height: 360px;
  }
  .img-itemcart {
    height: 350px;
    width: 250px;
  }

  .icon-hideeye {
    font-size: 45px !important;
    padding: 10px;
  }

  .eye-hide {
    right: 1px;
    bottom: 15px;
  }
}

@media (max-width: 630px) {
  .box-detailcart {
    height: 330px;
  }
  .img-itemcart {
    height: 320px;
    width: 200px;
  }
}
@media (max-width: 550px) {
  .flex-forcol-smaller {
    flex-direction: column;
  }

  .img-itemcart {
    width: 100%;
  }
  .icon-hideeye {
    font-size: 60px !important;
    padding: 12px;
  }

  .box-detailcart {
    height: 320px;
    padding: 0px;
  }
}
