.box-nav {
  position: sticky;
  top: 0px;
  height: 8vh;
  z-index: 2;
}

.icon-nav {
  cursor: pointer;
  font-size: 40px;
  font-size: clamp(30px, 2vw, 40px);
  color: var(--txt);
}

.icon-nav:hover {
  scale: 1.05;
}

.box-totalNav {
  background: var(--txt);
  padding: 5px 15px;
  border-radius: 100px;
  width: max-content;
  min-width: 50px;
  color: var(--bg);
  overflow: hidden;
}

.ml10px {
  margin-left: 10px;
}

.none-link {
  text-decoration: none !important;
  transition: var(--tr);
}

.for-brand {
  color: orange;
  text-shadow: 0px 1px 1px goldenrod;
}

.for-brand:hover {
  color: silver !important;
}

.none-link:hover {
  color: var(--txt);
  transition: var(--tr);
}

.pl20px {
  padding-left: 20px;
}

.box-icon {
  cursor: pointer;
  height: 8vh;
  width: 100%;
}

.txt-colorred {
  color: red;
}

.box-icon:hover {
  box-shadow: var(--shadow);
  background: var(--bg-two);
}

.j-around {
  justify-content: space-around !important;
}

.box-brand {
  width: max-content;
}

@media (max-width: 800px) {
  .ml10px {
    margin: 10px;
  }
  .box-totalNav {
    max-width: 30px;
    min-width: 30px;
  }
}
@media (max-width: 700px) {
  .font-brandsmall {
    font-size: 15px !important;
  }
}
@media (max-width: 550px) {
  .font-brandsmall {
    font-size: 13px !important;
  }
}
